@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #595959;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #854e26;
}
p{
    font-weight: normal;
}
#logo {
    text-align: center;
}

nav {
    max-width: 700px;
    margin: auto;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0 2%;
    margin: 10px 0;
    text-align: center;
}
nav ul li {
    text-decoration: none;
    font-size: 20px;
}

#hero-banner {
    background-color: #85265d;
    text-align: center;
    color: white;
    padding: 100px 50px;
    margin: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero-banner h1 {
    font-size: 40px;
    color: #fff;
}

section.homeInfo {
    max-width: 960px;
    margin: 50px auto;
    display: flex;
    gap: 10px;
    flex-direction: row;
    text-align: center;

}

.homeInfo article {
    border: 1px solid rgb(184, 184, 184);
    width: 33%;
    padding: 2%;
    border-radius: 6px;
}


footer {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 920px;
    padding: 20px 1%;
    width: 100%;
    margin: auto;
    border-top: 1px solid #c1c1c1;
}
footer p,
.footer-logo {
    width: 20%;
}
.copyright {
    color: #595959;
    font-size: 14px;
    text-align: right;
}

@media (max-width: 800px) {
    section.homeInfo {
      flex-direction: column;
    }
    .homeInfo article {
        width: 90%;
        margin: auto;
    }
}